n8n/workflow_analysis.json
{
  "name": "AutoCallAI - Analysis Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-call",
        "responseMode": "responseNode"
      },
      "id": "webhook-analyze",
      "name": "Webhook Analyze Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        320
      ],
      "notes": "Receives post-call payload from call handler workflow.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const rubric = {\n    appointment_conversion: { weight: 0.30, description: 'Did the agent successfully guide toward booking?' },\n    objection_handling:     { weight: 0.25, description: 'Did the agent address concerns effectively?' },\n    conversation_flow:      { weight: 0.15, description: 'Natural pacing, one question at a time, appropriate pauses' },\n    information_accuracy:   { weight: 0.15, description: 'Did the agent provide correct practice information?' },\n    rapport_building:       { weight: 0.10, description: 'Did the agent build trust and show empathy?' },\n    compliance:             { weight: 0.05, description: 'No medical advice, no fabricated availability, proper boundaries' }\n  };\n\n  // current_prompt, prompt_version, prior_scores, changelog_history are injected by server.py\n  const currentPrompt = $json.current_prompt || 'Prompt unavailable — evaluate from call data only.';\n  const priorScores = $json.prior_scores || [];\n  const changelogHistory = $json.changelog_history || [];\n  const toolCalls = $json.tool_calls || [];\n\n  console.log('[Code Prepare Inputs] prompt_version:', $json.prompt_version, 'prior_scores:', priorScores.length, 'tool_calls:', toolCalls.length);\n\n  return [{ json: {\n    call: $json,\n    current_prompt: currentPrompt,\n    prior_scores: priorScores,\n    changelog_history: changelogHistory,\n    tool_calls: toolCalls,\n    rubric\n  }}];\n} catch (error) {\n  return [{ json: { error: String(error), raw_call: $json } }];\n}"
      },
      "id": "code-prepare-inputs",
      "name": "Code Prepare Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ],
      "notes": "Loads current prompt context and embeds rubric object for judge call.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "{{$env.GEMINI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  system_instruction: {\n    parts: [{\n      text: `You are an expert call center quality analyst evaluating AI voice agent performance.\\n\\nSCORING ANCHORS — use these exact criteria, not your own interpretation:\\nappointment_conversion: 5=Appointment booked with full confirmation, 4=Strong attempt/callback scheduled, 3=Partial progress/interest maintained, 2=Missed clear booking opportunity, 1=Caller lost interest due to agent behavior\\nobjection_handling: 5=All objections addressed with empathy and resolution, 4=Most handled/minor misses, 3=Basic handling/lacked depth, 2=Fumbled primary objection, 1=Ignored or argued with caller concern\\nconversation_flow: 5=Flowed like natural phone conversation, 4=Mostly natural/minor awkward transitions, 3=Some robotic patterns or stacked questions, 2=Frequently unnatural/multiple stacked questions, 1=Completely scripted feel\\ninformation_accuracy: 5=All information accurate and relevant, 4=Accurate with minor omissions, 3=Mostly accurate/one notable error, 2=Multiple inaccuracies, 1=Fabricated information or hallucinated details\\nrapport_building: 5=Warm/empathetic/caller felt heard, 4=Friendly and professional, 3=Polite but impersonal, 2=Cold or transactional, 1=Rude/dismissive/argumentative\\ncompliance: 5=Perfect boundary maintenance, 4=Minor softness/no harm, 3=Came close to overstepping once, 2=Provided quasi-medical guidance, 1=Gave medical advice or fabricated data\\n\\nRULES:\\n1. For any score below 4, you MUST quote the exact transcript moment that justifies the deduction\\n2. If outcome is DROPPED or DECLINED and transcript has fewer than 2 user turns, score appointment_conversion as 1 and focus scoring on engagement/rapport/first-impression\\n3. If tool_calls is provided, evaluate whether the agent used check_availability and show_confirmation correctly — failure to use them when needed is an information_accuracy deduction\\n4. If prior_scores is provided, note any dimension that has regressed from the previous version\\n5. Output structured JSON ONLY, no other text`\n    }]\n  },\n  contents: [{\n    role: 'user',\n    parts: [{\n      text: `CALL DATA:\\n${JSON.stringify($json.call, null, 2)}\\n\\nCURRENT PROMPT:\\n${$json.current_prompt}\\n\\nTOOL CALLS MADE:\\n${JSON.stringify($json.tool_calls || [], null, 2)}\\n\\nPRIOR SCORES (most recent first):\\n${JSON.stringify($json.prior_scores || [], null, 2)}\\n\\nRUBRIC:\\n${JSON.stringify($json.rubric, null, 2)}\\n\\nReturn JSON with keys: scores (object with each dimension name -> {score, justification, evidence_quote}), weighted_total, top_failure_points (array of {moment, problem, fix}), strengths_to_preserve (array of strings), prompt_fix_suggestions (array of strings), regression_flags (array of dimension names that scored lower than prior version, or empty array).`\n    }]\n  }]\n} }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "http-judge",
      "name": "HTTP Judge Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 6000,
      "position": [
        760,
        320
      ],
      "notes": "Calls Gemini judge model with call data, current prompt, and rubric.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const response = $json;\n  const raw = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  let parsed = null;\n\n  const attemptParse = (value) => {\n    const trimmed = String(value || '').trim();\n    const cleaned = trimmed.startsWith('```')\n      ? trimmed.replace(/^```json/, '').replace(/^```/, '').replace(/```$/, '').trim()\n      : trimmed;\n    const start = cleaned.indexOf('{');\n    const end = cleaned.lastIndexOf('}');\n    const jsonText = start >= 0 && end > start ? cleaned.slice(start, end + 1) : cleaned;\n    return JSON.parse(jsonText);\n  };\n\n  try {\n    parsed = attemptParse(raw);\n  } catch (firstError) {\n    try {\n      parsed = attemptParse(raw.replace(/\\n/g, '\\n'));\n    } catch (secondError) {\n      return [{ json: { parse_error: String(secondError), raw_judge_text: raw, judge_raw_response: response } }];\n    }\n  }\n\n  console.log('[Code Parse Judge] weighted_total=' + (parsed.weighted_total || 'n/a') + ' failures=' + (parsed.top_failure_points || []).length);\n  return [{ json: { judge: parsed, judge_raw_response: response } }];\n} catch (error) {\n  return [{ json: { parse_error: String(error), judge_raw_response: $json } }];\n}"
      },
      "id": "code-parse-judge",
      "name": "Code Parse Judge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1030,
        320
      ],
      "notes": "Parses judge JSON safely with retry-style fallback parsing.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "{{$env.GEMINI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  system_instruction: {\n    parts: [{\n      text: `You are a prompt engineer specializing in voice AI agent optimization.\\n\\nYou will receive:\\n1. The current system prompt (version N)\\n2. The judge's evaluation with failure points and suggested fixes\\n3. PRIOR_CHANGELOG: history of what was changed in previous versions\\n\\nYour job:\\n1. Apply ONLY the fixes the judge recommended — do not rewrite unrelated sections\\n2. Preserve everything that scored well (4-5) — explicitly listed in strengths_to_preserve\\n3. Add new objection handlers for identified gaps\\n4. Keep the total prompt under 600 tokens (voice latency constraint)\\n\\nCRITICAL RULES (non-negotiable):\\n- NEVER remove or rewrite: the doctor list (Dr. Emily Chen, Dr. James Park, Dr. Priya Sharma, Dr. Marcus Webb), the show_confirmation tool trigger, the TURN-TAKING RULES section, the record_outcome end-of-call requirement, or the conversation-history guard ('NEVER re-ask information')\\n- NEVER re-add a fix that is already present in PRIOR_CHANGELOG — check before adding\\n- If regression_flags in the judge output is non-empty, prioritize fixing those dimensions\\n- Surgical edits only — do not restructure or reformat sections that are not broken\\n- Output the complete revised prompt\\n- Output a changelog: 3-5 bullets of what specifically changed and why\\n\\nOutput JSON ONLY with keys: revised_prompt (string), changelog (array of strings).`\n    }]\n  },\n  contents: [{\n    role: 'user',\n    parts: [{\n      text: `CURRENT PROMPT:\\n${$node['Code Prepare Inputs'].json.current_prompt}\\n\\nJUDGE OUTPUT:\\n${JSON.stringify($json.judge || {}, null, 2)}\\n\\nPRIOR_CHANGELOG (do not re-add these):\\n${($node['Code Prepare Inputs'].json.changelog_history || []).join('\\n')}`\n    }]\n  }]\n} }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "http-prompt-reviser",
      "name": "HTTP Prompt Reviser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 6000,
      "position": [
        1290,
        320
      ],
      "notes": "Generates revised system prompt based on judge findings. Preserves critical sections.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const callPayload = $node['Code Prepare Inputs'].json.call || {};\n  const judge = $node['Code Parse Judge'].json.judge || {};\n  const currentPrompt = $node['Code Prepare Inputs'].json.current_prompt || '';\n  const priorScores = $node['Code Prepare Inputs'].json.prior_scores || [];\n  const reviserRaw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\n  let reviser = { revised_prompt: currentPrompt, changelog: ['No revision output parsed — preserved current prompt.'] };\n  try {\n    const start = reviserRaw.indexOf('{');\n    const end = reviserRaw.lastIndexOf('}');\n    const maybeJson = start >= 0 && end > start ? reviserRaw.slice(start, end + 1) : reviserRaw;\n    reviser = JSON.parse(maybeJson);\n  } catch (e) {\n    reviser = { revised_prompt: reviserRaw || currentPrompt, changelog: ['Fallback parse path used.'] };\n  }\n\n  // ── GUARDRAIL: ensure critical sections are preserved ─────────────────────\n  const REQUIRED_KEYS = [\n    'Dr. Emily Chen', 'Dr. Marcus Webb',\n    'show_confirmation',\n    'TURN-TAKING RULES',\n    'record_outcome',\n    'NEVER re-ask'\n  ];\n  const revised = reviser.revised_prompt || '';\n  const missing = REQUIRED_KEYS.filter(k => !revised.includes(k));\n  if (missing.length > 0) {\n    console.warn('[Code Format Outputs] GUARDRAIL triggered — missing sections:', missing.join(', '));\n    const fixes = (judge.prompt_fix_suggestions || []).join('\\n');\n    reviser.revised_prompt = currentPrompt + (fixes ? '\\n\\nADDITIONAL INSTRUCTIONS:\\n' + fixes : '');\n    reviser.changelog = ['[GUARDRAIL] Preserved original prompt structure. Appended judge suggestions as addendum. Missing sections were: ' + missing.join(', ')];\n  }\n\n  // ── VERSION DERIVATION ────────────────────────────────────────────────────\n  const inferredVersion = callPayload.prompt_version || 'v1';\n  const vMatch = String(inferredVersion).match(/(\\d+)/);\n  const nextNum = vMatch ? parseInt(vMatch[1]) + 1 : 2;\n  const currentVersion = inferredVersion;\n  const nextVersion = 'v' + nextNum;\n  console.log('[Code Format Outputs] version:', currentVersion, '\\u2192', nextVersion);\n\n  // ── REGRESSION DETECTION ─────────────────────────────────────────────────\n  let regressionWarning = null;\n  if (priorScores.length > 0) {\n    const prevScore = priorScores[priorScores.length - 1]?.score;\n    const currentScore = judge.weighted_total;\n    if (prevScore != null && currentScore != null && currentScore < prevScore - 0.3) {\n      regressionWarning = `Score dropped from ${prevScore.toFixed(2)} to ${currentScore.toFixed(2)} — investigate before next revision`;\n      console.warn('[Code Format Outputs] REGRESSION:', regressionWarning);\n    }\n  }\n\n  const analysisReport = {\n    iteration: null,\n    calls_analyzed: [callPayload.call_id || 'unknown_call'],\n    prompt_version_evaluated: currentVersion,\n    aggregate_scores: Object.assign({}, judge.scores || {}, { weighted_total: judge.weighted_total || null }),\n    top_failure_points: judge.top_failure_points || [],\n    regression_flags: judge.regression_flags || [],\n    strengths_to_preserve: judge.strengths_to_preserve || [],\n    prompt_changes: { from_version: currentVersion, to_version: nextVersion, changelog: reviser.changelog || [] },\n    regression_warning: regressionWarning,\n    timestamp: new Date().toISOString()\n  };\n\n  const promptVersion = {\n    version: nextVersion,\n    created_at: new Date().toISOString(),\n    created_by: 'n8n_analysis_workflow',\n    token_count: Math.ceil(String(reviser.revised_prompt || '').length / 4),\n    changelog: Array.isArray(reviser.changelog) ? reviser.changelog.join(' | ') : String(reviser.changelog || ''),\n    changelog_list: Array.isArray(reviser.changelog) ? reviser.changelog : [String(reviser.changelog || '')],\n    prompt: reviser.revised_prompt || '',\n    metadata: {\n      avg_score_during_use: null,\n      calls_made_with_this_version: 0,\n      replaced_by: null,\n      weighted_total_trigger: judge.weighted_total || null,\n      guardrail_triggered: missing.length > 0,\n      regression_warning: regressionWarning\n    }\n  };\n\n  const callLog = Object.assign({}, callPayload, {\n    judge_scores: judge.scores || {},\n    weighted_total: judge.weighted_total || null,\n    regression_flags: judge.regression_flags || [],\n    prompt_fix_suggestions: judge.prompt_fix_suggestions || []\n  });\n\n  console.log('[Code Format Outputs] emitting version=' + nextVersion + ' score=' + (judge.weighted_total || 'n/a') + (regressionWarning ? ' [REGRESSION]' : '') + (missing.length > 0 ? ' [GUARDRAIL]' : ''));\n  return [{ json: {\n    call_log: callLog,\n    analysis_report: analysisReport,\n    prompt_version: promptVersion,\n    revised_prompt: promptVersion.prompt\n  }}];\n} catch (error) {\n  return [{ json: { error: String(error), raw_call: $node['Code Prepare Inputs'].json.call || {} } }];\n}"
      },
      "id": "code-format-outputs",
      "name": "Code Format Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1570,
        320
      ],
      "notes": "Builds call log, analysis report, and next prompt version payloads. Derives next version number automatically.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.elevenlabs.io/v1/convai/agents/{{$env.ELEVENLABS_AGENT_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "{{$env.ELEVENLABS_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { conversation_config: { agent: { prompt: { prompt: $json.revised_prompt } } } } }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "http-update-agent",
      "name": "HTTP Update Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        320
      ],
      "notes": "Updates ElevenLabs agent prompt so next call uses revised instructions.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  prompt_version: $node['Code Format Outputs'].json.prompt_version,\n  analysis_report: $node['Code Format Outputs'].json.analysis_report,\n  call_log: $node['Code Format Outputs'].json.call_log\n} }}",
        "options": {
          "ignoreResponseCode": true,
          "timeout": 5000
        }
      },
      "id": "http-report-local",
      "name": "HTTP Report Local",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        320
      ],
      "notes": "POSTs analysis results to local web server for UI status display and file archiving. Non-blocking (ignores response code).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, prompt_version: $node['Code Format Outputs'].json.prompt_version.version, score_summary: $node['Code Format Outputs'].json.analysis_report.aggregate_scores, changelog: $node['Code Format Outputs'].json.prompt_version.changelog_list, call_log: $node['Code Format Outputs'].json.call_log, analysis_report: $node['Code Format Outputs'].json.analysis_report, prompt_version_payload: $node['Code Format Outputs'].json.prompt_version } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2300,
        320
      ],
      "notes": "Returns score summary, new prompt version metadata, and changelog.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Webhook Analyze Call": {
      "main": [
        [
          {
            "node": "Code Prepare Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prepare Inputs": {
      "main": [
        [
          {
            "node": "HTTP Judge Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Judge Gemini": {
      "main": [
        [
          {
            "node": "Code Parse Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Judge": {
      "main": [
        [
          {
            "node": "HTTP Prompt Reviser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Prompt Reviser": {
      "main": [
        [
          {
            "node": "Code Format Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Format Outputs": {
      "main": [
        [
          {
            "node": "HTTP Update Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Update Agent": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Report Local": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}