n8n/workflow_call_handler.json
{
  "name": "AutoCallAI - Call Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-handler",
        "responseMode": "responseNode"
      },
      "id": "webhook-call-handler",
      "name": "Webhook Call Handler",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "notes": "Receives tool invocations from ElevenLabs during live calls.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const actual = $json.body || $json;\nconst toolName = actual.tool_name || actual.name || '';\nconsole.log('[Normalize] tool_name:', toolName, 'full body:', JSON.stringify(actual));\nreturn [{ json: { ...actual, tool_name: toolName } }];"
      },
      "id": "code-normalize",
      "name": "Code Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "notes": "Flattens ElevenLabs body and extracts tool_name.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-check-avail",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "check_availability",
              "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-check-availability",
      "name": "IF check_availability",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300],
      "notes": "True → check_availability branch. False → next IF.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-record-outcome",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "record_outcome",
              "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-record-outcome",
      "name": "IF record_outcome",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 500],
      "notes": "True → record_outcome branch. False → next IF.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-schedule-overview",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "get_schedule_overview",
              "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-schedule-overview",
      "name": "IF get_schedule_overview",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 700],
      "notes": "True → schedule overview branch. False → unsupported.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const SCHEDULE = {\n    'Dr. Emily Chen': {\n      specialty: 'Family Medicine',\n      appointment_types: ['New Patient', 'Follow-up'],\n      schedule: {\n        monday:    { free: ['9:00 AM','10:30 AM','2:00 PM','3:30 PM'], booked: ['11:00 AM','1:00 PM'] },\n        tuesday:   { free: ['8:30 AM','1:30 PM','4:00 PM'],            booked: ['10:00 AM','11:30 AM','2:30 PM'] },\n        wednesday: { free: ['9:00 AM','11:00 AM','3:00 PM'],            booked: ['10:00 AM','2:00 PM','4:00 PM'] },\n        thursday:  { free: ['8:30 AM','10:00 AM','2:30 PM'],            booked: ['9:30 AM','11:30 AM','1:00 PM','3:30 PM'] }\n      }\n    },\n    'Dr. James Park': {\n      specialty: 'Internal Medicine',\n      appointment_types: ['New Patient', 'Follow-up', 'Consultation'],\n      schedule: {\n        tuesday:   { free: ['9:00 AM','11:00 AM','2:00 PM'],   booked: ['10:00 AM','1:00 PM','3:00 PM'] },\n        wednesday: { free: ['8:30 AM','10:30 AM','3:30 PM'],   booked: ['9:30 AM','1:30 PM','4:00 PM'] },\n        thursday:  { free: ['9:00 AM','1:00 PM','4:00 PM'],    booked: ['10:30 AM','11:30 AM','2:30 PM'] },\n        friday:    { free: ['8:30 AM','10:00 AM','2:00 PM','3:30 PM'], booked: ['9:00 AM','11:30 AM'] }\n      }\n    },\n    'Dr. Priya Sharma': {\n      specialty: 'Pediatrics',\n      appointment_types: ['New Patient', 'Well-Child Visit', 'Follow-up'],\n      schedule: {\n        monday:    { free: ['9:30 AM','11:00 AM','2:30 PM'],              booked: ['10:30 AM','1:00 PM','3:30 PM'] },\n        wednesday: { free: ['8:30 AM','10:00 AM','1:30 PM','4:00 PM'],    booked: ['9:30 AM','3:00 PM'] },\n        friday:    { free: ['9:00 AM','11:30 AM','2:00 PM'],              booked: ['10:00 AM','1:00 PM','3:00 PM'] }\n      }\n    },\n    'Dr. Marcus Webb': {\n      specialty: 'Orthopedics',\n      appointment_types: ['New Patient', 'Follow-up', 'Post-Op'],\n      schedule: {\n        monday:   { free: ['10:00 AM','1:00 PM','3:00 PM'],    booked: ['9:00 AM','11:00 AM','2:00 PM'] },\n        tuesday:  { free: ['8:30 AM','11:30 AM','3:30 PM'],    booked: ['9:30 AM','10:30 AM','1:30 PM'] },\n        thursday: { free: ['9:00 AM','10:30 AM','2:00 PM','4:00 PM'], booked: ['11:30 AM','1:00 PM','3:00 PM'] }\n      }\n    }\n  };\n\n  const rawDoctorName = ($json.doctor_name || '').trim();\n  const rawDay = ($json.day_of_week || '').trim().toLowerCase();\n  const results = [];\n\n  for (const [doctorName, info] of Object.entries(SCHEDULE)) {\n    if (rawDoctorName && !doctorName.toLowerCase().includes(rawDoctorName.toLowerCase())) continue;\n    const days = rawDay ? [rawDay] : Object.keys(info.schedule);\n    for (const day of days) {\n      const dayData = info.schedule[day];\n      if (!dayData) continue;\n      for (const time of dayData.free) {\n        results.push({ doctor: doctorName, specialty: info.specialty, day: day.charAt(0).toUpperCase() + day.slice(1), time, appointment_types_available: info.appointment_types });\n      }\n    }\n  }\n\n  console.log('[Check Availability] doctor=' + rawDoctorName + ' day=' + rawDay + ' results=' + results.length);\n\n  if (results.length === 0) {\n    return [{ json: { available_slots: [], message: rawDoctorName ? `No available slots found for ${rawDoctorName}${rawDay ? ' on ' + rawDay : ''}.` : 'No available slots found.', success: true } }];\n  }\n  return [{ json: { available_slots: results, total: results.length, success: true } }];\n} catch (error) {\n  return [{ json: { success: false, error: String(error) } }];\n}"
      },
      "id": "code-check-availability",
      "name": "Code Check Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220],
      "notes": "Returns free slots filtered by doctor and/or day.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const body = $json;\n  const payload = {\n    call_id: body.call_id || body.conversation_id || ('call_' + Date.now()),\n    outcome: body.outcome || 'UNKNOWN',\n    patient_name: body.patient_name || null,\n    doctor_name: body.doctor_name || null,\n    appointment_day: body.appointment_day || null,\n    appointment_time: body.appointment_time || null,\n    insurance: body.insurance || null,\n    notes: body.notes || null,\n    transcript: body.transcript || [],\n    duration_seconds: body.duration_seconds || null,\n    timestamp: new Date().toISOString()\n  };\n  console.log('[Format Outcome] call_id=' + payload.call_id + ' outcome=' + payload.outcome);\n  return [{ json: payload }];\n} catch (error) {\n  return [{ json: { success: false, error: String(error) } }];\n}"
      },
      "id": "code-format-outcome",
      "name": "Code Format Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500],
      "notes": "Normalizes outcome payload for analysis workflow.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const SCHEDULE = {\n  'Dr. Emily Chen':  { specialty: 'Family Medicine',  days: ['Mon','Tue','Wed','Thu'] },\n  'Dr. James Park':  { specialty: 'Internal Medicine', days: ['Tue','Wed','Thu','Fri'] },\n  'Dr. Priya Sharma':{ specialty: 'Pediatrics',        days: ['Mon','Wed','Fri'] },\n  'Dr. Marcus Webb': { specialty: 'Orthopedics',       days: ['Mon','Tue','Thu'] }\n};\nconst overview = Object.entries(SCHEDULE).map(([name, info]) => ({ doctor: name, specialty: info.specialty, available_days: info.days }));\nreturn [{ json: { doctors: overview, success: true } }];"
      },
      "id": "code-schedule-overview",
      "name": "Code Schedule Overview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 700],
      "notes": "Returns doctor list with specialties and days.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "console.log('[Unsupported] tool_name=' + $json.tool_name);\nreturn [{ json: { success: false, error: 'Unsupported tool_name: ' + ($json.tool_name || 'none') } }];"
      },
      "id": "code-unsupported-tool",
      "name": "Code Unsupported Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 860],
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paranoid17.app.n8n.cloud/webhook/analyze-call",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "http-trigger-analysis",
      "name": "HTTP Trigger Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 500],
      "notes": "Forwards normalized call payload to analysis webhook.",
      "notesInFlow": true
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{$json}}", "options": {} },
      "id": "respond-availability",
      "name": "Respond Availability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 220]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ { success: true, forwarded: true } }}", "options": {} },
      "id": "respond-record-outcome",
      "name": "Respond Record Outcome",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 500]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{$json}}", "options": {} },
      "id": "respond-schedule-overview",
      "name": "Respond Schedule Overview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 700]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{$json}}", "options": { "responseCode": 400 } },
      "id": "respond-unsupported-tool",
      "name": "Respond Unsupported Tool",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 860]
    }
  ],
  "connections": {
    "Webhook Call Handler": {
      "main": [[{ "node": "Code Normalize", "type": "main", "index": 0 }]]
    },
    "Code Normalize": {
      "main": [[{ "node": "IF check_availability", "type": "main", "index": 0 }]]
    },
    "IF check_availability": {
      "main": [
        [{ "node": "Code Check Availability", "type": "main", "index": 0 }],
        [{ "node": "IF record_outcome",        "type": "main", "index": 0 }]
      ]
    },
    "IF record_outcome": {
      "main": [
        [{ "node": "Code Format Outcome",      "type": "main", "index": 0 }],
        [{ "node": "IF get_schedule_overview",  "type": "main", "index": 0 }]
      ]
    },
    "IF get_schedule_overview": {
      "main": [
        [{ "node": "Code Schedule Overview",   "type": "main", "index": 0 }],
        [{ "node": "Code Unsupported Tool",     "type": "main", "index": 0 }]
      ]
    },
    "Code Check Availability":  { "main": [[{ "node": "Respond Availability",       "type": "main", "index": 0 }]] },
    "Code Format Outcome":      { "main": [[{ "node": "HTTP Trigger Analysis",       "type": "main", "index": 0 }]] },
    "Code Schedule Overview":   { "main": [[{ "node": "Respond Schedule Overview",   "type": "main", "index": 0 }]] },
    "Code Unsupported Tool":    { "main": [[{ "node": "Respond Unsupported Tool",    "type": "main", "index": 0 }]] },
    "HTTP Trigger Analysis":    { "main": [[{ "node": "Respond Record Outcome",      "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
